body {
    font-family: 'Open Sans', sans-serif;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    .header
    {
    BACKGROUND: black;
    width: 105.3%;
    font-weight: 800;
    font-size: 17px;
    color: white;
    padding: 12px;
    margin-left: -15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    }
    
    p {
      color: #999;
    }
    
    strong {
      color: #333;
    }
    fieldset {
      min-width: 0;
      padding: 26px 26px;
      margin: 0;
      border: 0;
    }
    #wrapper {
      width: 100%;
      max-width: 600px;
      margin: 85px auto;
      overflow: hidden;
      text-align: center;
      border-radius: 8px;
      background-color: white;
      box-shadow: 0 17px 50px 0 rgba(0,0,0,.19), 0 12px 15px 0 rgba(0,0,0,.24);
    }
    
    
    .page-head-image img {
      height: 110px;
    }
    
    #form-trabalhe {
      margin-top: 30px;
      text-align: left;
    }
    
    label {
      font-weight: normal;
      margin-top: 15px;
    }
    .card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    }
    
    input {
      border: 2px solid #CCC !important;
      height: 35px;
      border-radius: 3px;
      max-width: 100%;
    }
    
    .input-group-addon {
      border: 2px solid #CCC !important;
      border-right: 0px !important;
    }
    
    .btn {
      border: 0;
      border-radius: 3px;
      margin-top: 20px;
    }
    .btn-buttons {
       
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;

        background-position: center;
       }
      
      .btn-buttons:hover {
        background-position: left center; /* change the direction of the change here */
        color:white;
      }
      
      .btn-buttons {
        background-image: linear-gradient(to right, #17315b 0%, #005589 20%, #007DB8 40%, #007DB8 100%);
      }
      
    .btn-buttons
    {    font-weight: bolder;
         letter-spacing: 1.2px;
         background-color: #004284;
         color:white;
    }

    .form-group {
      margin-bottom: 0;
      text-align: left;
    }
    
    label {
        font-weight: normal;
        margin-top: 15px;
        letter-spacing: 1px;
        color: darkgray;
    }
    .webcam
    {
        max-width: 180px;
        height: 167px;
        padding-left: 40px;
        margin-top: 36px;
    
      }
      input[type=file]{
      padding:10px;
      }
      .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color:#004284;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 26px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .meet
    {
    font-size: 16px;
    text-align: left;
    margin-bottom: -6px;
    margin-top: 159px;
    letter-spacing: 1px;
    margin-left: 14px;
    color: #848383;    
    }
    .meet1
    {
    font-size: 16px;
    text-align: left;
    margin-bottom: -6px;
    letter-spacing: 1px;
    margin-top:88px;
    margin-left: 14px;
    color: #848383;
    }
    .placeholder
    {
      color:red;
    }
          @media only screen and (min-width: 460px) 
    {
      .header
      {
        width: 108%;
      }
    }
    @media only screen and (min-width: 446px) 
    {
      .header
      {
        width: 108%;
      }
      .meet
      {
      margin-top: 163px;
      }
    }
      @media only screen and (min-width: 412px) 
           { 
        .header
      {
       width:108.6%;
      }
      #wrapper
      {
        width: 92%;
      }
      .meet
      {
      margin-top: 16px;
      }
    }
      @media only screen and (min-width: 360px) 
    {
      .header
      {
        width: 108%;
      }
      .meet
      {
      margin-top: 163px;
      }
      .card1
      {
          
      }
    }
    